NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STARTER_MONTHLY_PAYMENT_URL=
NEXT_PUBLIC_STARTER_ANNUAL_PAYMENT_URL=
NEXT_PUBLIC_PRO_MONTHLY_PAYMENT_URL=
NEXT_PUBLIC_PRO_ANNUAL_PAYMENT_URL=
